<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="container">

        <div id="account_info">

            <p id="username"><%= username %></p>
            <a href="/<%= link %>" id="a_log"><%= logged_status %></a>
            <div id="profile"></div>

        </div>

        <br>

        <div id="namewagikam">
            <h1>GIKAM</h1>
        </div>
        
        <div id="create_post">

            <a href="/create_post" id="create_post_button">Create Post...</a>

        </div>

        <div id="posts">
            <!-- HERE ARE ADDED POSTS -->
        </div>

        <script>


        // </div>

        // <a href="/user/<%= user_profile %>" id="a_log">PROFILE</a>

            let last = 0
            let user_name = `<%= user_profile %>`

            start()
            async function start() {

                if(user_name != ``) {
                    let node = document.createElement("a");
                    node.href = `/user/${user_name}`
                    node.innerHTML = 'PROFILE'
                    node.id = 'a_log'
                    document.getElementById("profile").appendChild(node);
                }

                let now = Date.now()
                let posts = await fetchposts(now)

                for (let index = 0; index < posts.length; index++) {
                    const element = posts[index];

                    let node = document.createElement("div");
                    node.id = 'post'
                    node.onclick = function () {
                        location.replace(`/post/${element.id}`)
                    }

                    node.innerHTML = `
                        <h2>${element.title}</h2>
                        <a href="/user/${element.author}" id="author_link">${element.author}</a>
                        <p>${element.content}</p>
                    `

                    document.getElementById("posts").appendChild(node);

                    console.log(element)
                }
            }
            
            function fetchposts(before) {
                return new Promise((resolve,reject) => {
                    console.log(before)

                fetch(`/api/posts?before=${before}`, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                    },
                }).then(response => {
                    return response.text();
                    }).then(function(data) {
                        resolve(JSON.parse(data)); 
                    });
                })
            }

        </script>

    </div>
</body>
</html>