<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style_post.css"  type="text/css">
    <title>GIKAM</title>
</head>
<body>

    <div id="navbar_top">

        <div id="navbar">

            <div id="left">
                <a href="/"><h2>GIKAM</h2></a>
                <!-- <h2>GIKAM</h2> -->
            </div>
    
            <div id="right">
                <a href="/<%= link %>" id="a_button_right"><%= logged_status %></a>
                <div id="profile"></div>
                <a href="/" id="a_button_right">HOME</a>
            </div>
                
        </div>

    </div>

    <div id="container">

        <div id="container_navbar">

            <h1 id="post_title"><%= post.title %></h1>
            <p id="author_p">by: <a id="author_link" href="/user/<%= post.author %>"><%= post.author %></a></p>

        </div>

        <p id="post_content"><%= post.content %></p>

    </div>

    <div id="ifloggedaddcomment"></div>

    <script>
        if("<%= user_profile %>" != "") {
            document.getElementById('ifloggedaddcomment').innerHTML = 
            `
            <div id="add_commment">
                <textarea id="comment_content"></textarea>

                <p id="submit" onclick="uploadcomment()">COMMENT</p>
            </div>
            `
        }

    </script>

    <div id="comments">
        <!-- HERE ARE COMMENTS -->


    </div>

    <script>

        let user_name = `<%= user_profile %>`

        start()
        async function start() {

            if(user_name != ``) {
                let node = document.createElement("a");
                node.href = `/user/${user_name}`
                node.innerHTML = 'PROFILE'
                node.id = 'a_button_right'
                document.getElementById("profile").appendChild(node);
            }

            loadcomments()

        }

        async function loadcomments() {
            let comments = await fetchdata(`/api/comments?post=<%= post.id %>`)

            for (let index = 0; index < comments.length; index++) {
                const element = comments[index];
                
                let node = document.createElement("div");
                node.id = 'comment'
                node.className = `${element.id}`
                // node.onclick = function () {
                //     location.replace(`/post/${element.id}`)
                // }

                node.innerHTML = `

                    <div id="nav_com">
                        <div id="conte">
                            <h3><a id="author_link" href="/user/${element.author}">${element.author}</a></h3>
                        </div>
                        <div id="replybutton" onclick="reply_textarea(${element.id})"><p>reply</p></div>
                    </div>

                    <div id="conte">
                    <p>${element.content}</p>
                    </div>
                    <div id="${element.id}"></div>
                    <div id="${element.id}_replies" class="replie"></div>

                `

                document.getElementById("comments").appendChild(node);

                await replies(element.id)
            }

            async function replies(id){
                await fetchdata(`/api/replies?comment=${id}`).then(async (repli) => {
                    if(repli.length > 0) {
                        for (let index = 0; index < repli.length; index++) {
                            const element = repli[index];

                            let node = document.createElement("div");

                            node.innerHTML = `
                                <div id="nav_com">
                                <div id="conte">
                                    <h3><a id="author_link" href="/user/${element.author}">${element.author}</a></h3>
                                </div>
                                <div id="replybutton" onclick="reply_textarea(${element.id})"><p>reply</p></div>
                            </div>

                            <div id="conte">
                            <p>${element.content}</p>
                            </div>
                            <div id="${element.id}"></div>
                            <div id="${element.id}_replies" class="replie"></div>
                            
                            `

                            document.getElementById(`${id}_replies`).appendChild(node)

                            await replies(element.id)
                        }
                    }
                    else {
                        return
                    }
                })
            }

        }

        async function reply_textarea(id) {

            if(`<%= user_profile %>` != "") {
                document.getElementById(id).innerHTML = `
            
                <div id="${id}form">

                <textarea id="reply_content" class="${id}_reply"></textarea>

                <div id="justflex"> 
                    <p id="submitreply" onclick="uploadreply(${id})">REPLY</p>
                    <p id="closetextare" onclick="closearea(${id})">X</p>
                </div>
                    
                </div>
            
            `
            } else {
                document.getElementById('ifloggedaddcomment').innerHTML = `
                 <h2>You need to be logged to comment</h2>
                `
                setTimeout(() => {
                    document.getElementById('ifloggedaddcomment').innerHTML = ""
                }, 4000);
            }

        }

        async function closearea(id) {
            document.getElementById(id).innerHTML = ''
        }

        async function uploadreply(id){
            let data = document.getElementsByClassName(`${id}_reply`)[0].value

            console.log(data)
            // console.log(document.getElementsByClassName(`${id}_reply`))
            await postData('/api/comment',{
                content : data,
                postID: `<%= post.id %>`,
                reply: id,
            }).then((response) => {
                if(response == 'COMMENT ADDED') {
                    document.getElementById('comments').innerHTML = ''
                    loadcomments()
                }
            })
        }

        async function uploadcomment() {
            let data = document.getElementById('comment_content').value
            await postData('/api/comment',{
                content : data,
                postID: `<%= post.id %>`,
                reply: null,
            }).then((response) => {
                if(response == 'COMMENT ADDED') {
                    document.getElementById('comments').innerHTML = ''
                    loadcomments()
                }
            })
        }

        function postData(url = "",data = {}) {
            return new Promise((resolve, reject) => {
                data = JSON.stringify(data)
                let xhr = new XMLHttpRequest();
                xhr.open("POST", url);
                xhr.setRequestHeader("Accept", "application/json");
                xhr.setRequestHeader("Content-Type", "application/json");

                xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    console.log(xhr.status);
                    console.log(xhr.responseText);
                    resolve(xhr.responseText)
                }};
                xhr.send(data);
            })
        }

        function fetchdata(url) {
            return new Promise((resolve,reject) => {
            fetch(url, {
                method: 'GET',
                headers: {
                    'Accept': 'application/json',
                },
            }).then(response => {
                return response.text();
                }).then(function(data) {
                    resolve(JSON.parse(data)); 
                });
            })
        }

    </script>
</body>
</html>