<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style_post.css"  type="text/css">
    <link rel="stylesheet" href="/style_voting.css">
    <script defer src="/post.js"></script>
    <title>GIKAM</title>
</head>
<body>

    <div id="navbar_top">

        <div id="navbar">

            <div id="left">
                <a href="/"><h2>GIKAM</h2></a>
                <!-- <h2>GIKAM</h2> -->
            </div>
    
            <div id="right">
                <a href="/<%= link %>" id="a_button_right"><%= logged_status %></a>
                <div id="profile"></div>
                <a href="/" id="a_button_right">HOME</a>
            </div>
                
        </div>

    </div>

    <div id="container">

        <div id="container_navbar">

            <div id="voting">

                <div id="upvotebox" onclick="vote(1,'<%= post.id %>','p')">
                    <div id="upvote" class="<%= post.id %>title_up upvote_white upvote_white1"></div>
                </div>

                <div id="countbox" class="<%= post.id %>_votes" ><%= post.votes %></div>

                <div id="downvotebox" onclick="vote(-1,'<%= post.id %>','p')">
                    <div id="downvote" class="<%= post.id %>title_down downvote_white downvote_white1" ></div>   
                </div>

            </div>

            <script>

               

            </script>

            <!-- <h1 id="post_title"><%= post.title %></h1>
            <p id="author_p">by: <a id="author_link" href="/user/<%= post.author %>"><%= post.author %></a></p> -->

        </div>

        <!-- <div id="post_content"><%= post.content %></div> -->

    </div>

    <div id="ifloggedaddcomment"></div>

    <script>
        if("<%= user_profile %>" != "") {
            document.getElementById('ifloggedaddcomment').innerHTML = 
            `
            <div id="add_commment">
                <textarea id="comment_content"></textarea>

                <p id="submit" onclick="uploadcomment()">COMMENT</p>
            </div>
            `
            let comment_area = document.getElementById('comment_content')

            comment_area.addEventListener('input', (event) => {
                comment_area.style.height ='auto'
                comment_area.style.height = `${comment_area.scrollHeight - 37}px`;
            }, false);

        }

    </script>

    <div id="comments">
        <!-- HERE ARE COMMENTS -->


    </div>

    <script>

        let user_name = `<%= user_profile %>`
        let post_id = `<%= post.id %>`

        let voted = '<%= voted %>'

        if(voted != 0) {
            if(voted== -1) {
                let downvote = document.getElementsByClassName(`${post_id}title_down`)[0]
                console.log(downvote)
                downvote.classList.value = `${post_id}title_down downvote_orangered downvote_orangered1`
                // console.log(downvote.classList)
                let upvote = document.getElementsByClassName(`${post_id}title_up`)[0]
                upvote.classList.value = `${post_id}title_up upvote_white upvote_white1`
            }
            else if (voted == 1) {
                let upvote = document.getElementsByClassName(`${post_id}title_up`)[0]
                upvote.classList.value = `${post_id}title_up upvote_orangered upvote_orangered1`
                let downvote = document.getElementsByClassName(`${post_id}title_down`)[0]
                console.log(downvote)
                downvote.classList.value = `${post_id}title_down downvote_white downvote_white1`
            }
        }

    </script>

</body>
</html>